<div class="container-fluid">
  <div class="row mt-5">
    <div class="col">
      <div class="col-4">
        <div class="card shadow">
          <div class="card-body">
            <form>
              <div class="mb-3">
                <h4>Forgot Password?</h4>
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" name="email" [(ngModel)]="email" id="exampleInputEmail1" aria-describedby="emailHelp"
                  placeholder="Enter email">
              </div>

              <button type="button" (click)="sendlink()" class="btn btn-success text-center">send link</button>
              <div class="row">
                <div class="col-12">
        <a class="text-dark" [routerLink]="['/login']" style="text-decoration:none ;">back to <span class="text-primary">login</span></a>
                </div>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
